includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

rules:
    - Localheinz\PHPStan\Rules\Expressions\NoEvalRule
    - Localheinz\PHPStan\Rules\Files\DeclareStrictTypesRule

services:
    -
        class: Localheinz\PHPStan\Rules\Classes\FinalRule
        arguments:
            allowAbstractClasses: true
            classesNotRequiredToBeAbstractOrFinal:
                - StructurizrPHP\Tests\StructurizrPHP\Tests\Core\Unit\AbstractWorkspaceTestBase
                - StructurizrPHP\StructurizrPHP\Core\Exception\Exception
                - StructurizrPHP\StructurizrPHP\Core\Exception\InvalidArgumentException
                - StructurizrPHP\StructurizrPHP\Core\View\SequenceNumber\SequenceCounter
                - StructurizrPHP\StructurizrPHP\Core\Documentation\DocumentationTemplate
                - StructurizrPHP\StructurizrPHP\Client\Exception\Exception
                - StructurizrPHP\StructurizrPHP\Client\Exception\InvalidArgumentException
        tags:
            - phpstan.rules.rule

parameters:
    level: 6
    paths:
        - src
        - tests
        - examples
    ignoreErrors:
        -
            message: '#Parameter \#1 \$softwareSystem of method (.*)::__construct(.*)#'
            path: src/StructurizrPHP/Core/View/DynamicView.php
        -
            message: '#Property (.*)\$softwareSystem(.*)#'
            path: src/StructurizrPHP/Core/View/DynamicView.php
        -
            message: '#Property (.*)\$element(.*)#'
            path: src/StructurizrPHP/Core/View/DynamicView.php
        -
            message: '#In method \"(.*)::(toArray|map)\", return type is "array".(.*)#'
            path: *
        -
            message: '#In method \"(.*)::hydrate(.*)\", parameter (.*) type is "array".(.*)#'
            path: *
        -
            message: '#In method \"(.*)DataObject::__construct(.*)\", parameter (.*) type is "array".(.*)#'
            path: *
        -
            message: '#(.*)#'
            path: src/StructurizrPHP/Client/RequestFactory.php