includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

rules:
    - Ergebnis\PHPStan\Rules\Expressions\NoEvalRule
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule

services:
    -
        class: Ergebnis\PHPStan\Rules\Classes\FinalRule
        arguments:
            allowAbstractClasses: true
            classesNotRequiredToBeAbstractOrFinal:
                - StructurizrPHP\Tests\Core\Unit\AbstractWorkspaceTestBase
                - StructurizrPHP\Core\Exception\Exception
                - StructurizrPHP\Core\Exception\InvalidArgumentException
                - StructurizrPHP\Core\View\SequenceNumber\SequenceCounter
                - StructurizrPHP\Core\Documentation\DocumentationTemplate
                - StructurizrPHP\Client\Exception\Exception
                - StructurizrPHP\Client\Exception\InvalidArgumentException
        tags:
            - phpstan.rules.rule

parameters:
    level: 6
    paths:
        - src
        - tests
        - examples
    ignoreErrors:
        -
            message: '#Parameter \#1 \$softwareSystem of method (.*)::__construct(.*)#'
            path: src/StructurizrPHP/Core/View/DynamicView.php
        -
            message: '#Property (.*)\$softwareSystem(.*)#'
            path: src/StructurizrPHP/Core/View/DynamicView.php
        -
            message: '#Method (.*)::(toArray|map)\(\) return type has no value type specified in iterable type array.#'
            path: *
        -
            message: '#Method (.*)::hydrate(.*) has parameter (.*) with no value type specified in iterable type array.#'
            path: *
        -
            message: '#Method (.*)::__construct(.*) has parameter (.*) with no value type specified in iterable type array.#'
            path: *
